body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #3399FF, #02B502);
    height: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.logo {
    position: absolute;
    height: 100px;
    top: 10px;
    left: 10px;
}

.busqueda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 20px;
}

.busqueda h1 {
    margin-bottom: 40px;
}

.selections label {
    margin-bottom: 20px;
}

label {
    margin: 10px 0;
    color: white;
    font-size: 20px;
}

h1 {
    font-size: 28px;
    color: white;
}

.radio {
    margin-top: 20px;
}

nav {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

select {
    width: 180px;
    height: 30px;
    border-radius: 20px;
    transition: 400ms;
}

select:hover {
    transform: scale(1.1);
}

input[type="range"] {
    -webkit-appearance: none;
    width: 50%;
    height: 2px;
    border-radius: 5px;
    background: #ddd;
    display: block;
    margin: 0 auto;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #3498db;
    cursor: pointer;
    transition: 400ms;
}

input[type="range"]:hover::-webkit-slider-thumb {
    background-color: #1a64ae;
}

nav input[type="range"],
select {
    margin: 10px 10px;
    cursor: pointer;
    border: 1px solid black;
    overflow: hidden;
}

button {
    margin-top: 20px;
    background-color: #3399FF;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    color: white;
    transition: background-color 0.4s;
}

button:hover {
    cursor: pointer;
    background-color: #1a64ae;
}

main {
    display: flex;
    justify-content: center;
}

.property-container h1 {
    font-size: 30px;
    margin: 10px 0 10px;
    text-align: center;
    color: black;
}

.property-container h2 {
    font-size: 30px;
    margin: 0 0 10px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.property-panel {
    background: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px auto;
    padding: 20px;
    width: 1200px;
    box-sizing: border-box;
}

.property-panel h2 {
    font-size: 24px;
    margin: 20px 0 10px;
    color: #333;
}

.property-panel p {
    font-size: 18px;
    margin: 5px 0;
    color: #666;
}

.property-panel .price {
    font-weight: bold;
    color: #02B502;
    font-size: 22px;
}

.no-properties {
    text-align: center;
    font-size: 1.2em;
}

.logoutButton {
    position: fixed;
        bottom: 20px;
        left: 20px;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        z-index: 1000;
}