body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #3399FF, #02B502);
    margin: 0;
    padding: 0;
}

header h1 {
    font-size: 50px;
    color: white;
    margin: 50px 0 0 30px;
}

header img {
    position: absolute;
    height: 200px;
    top: 10px;
    right: 10px;
}

main form {
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 50px;
}

.form-content {
    display: flex;
    justify-content: space-between;
}

aside, .derecha {
    flex: 1;
    margin: 0 20px;
}

input {
    width: 50%;
    height: 30px;
    margin-bottom: 40px;
    border-radius: 20px;
    font-size: 14px;
    padding-left: 10px;
    border: 1px solid #ccc;
}

label, input[type="email"], .password-wrapper {
    display: block;
}

label {
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
}

button {
    height: 40px;
    width: 150px;
    color: white;
    cursor: pointer;
    margin: 0 20px;
    border-radius: 10px;
    transition: 400ms;
    border: none;
}

button:hover {
    transform: scale(1.1);
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

button[type="submit"] {
    background-color: #3399FF;
}

button[type="button"] {
    background-color: red;
}

.password-wrapper {
    position: relative;
    width: 45%;
    margin-bottom: 40px;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px;
}

.password-wrapper i {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #333;
    pointer-events: all;
    width: 20px;
    text-align: center;
}

.error-message {
    color: red;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 35px;
}